/.vs/
/AutoResetEventEx1/obj/Debug
/AutoResetEventEx1/bin/Debug
/AutoResetEventEx2/bin/Debug
/AutoResetEventEx2/obj/Debug
/ConsoleApp1/bin/Debug
/ConsoleApp1/obj/Debug
/Converters/bin/Debug
/Converters/obj/Debug
/TimerExample/bin/Debug
/TimerExample/obj/Debug
/TimerTest/bin/Debug
/TimerTest/obj/Debug
/TimerTextBox/bin/Debug
/TimerTextBox/obj/Debug
/WpfApp1/bin/Debug
/WpfApp1/obj/Debug
/Experiments/AutoResetEventEx1/bin/Debug
/Experiments/AutoResetEventEx1/obj
/Experiments/AutoResetEventEx2/bin/Debug
/Experiments/AutoResetEventEx2/obj
/Experiments/ConsoleApp1/bin/Debug
/Experiments/ConsoleApp1/obj
/Experiments/CycleBellLibraryTest/obj/Debug
/Experiments/DotnetperlsComAsync/bin/Debug
/Experiments/DotnetperlsComAsync/obj/Debug
/Experiments/DotnetperlsComAsync2/bin/Debug
/Experiments/DotnetperlsComAsync2/obj/Debug
/Experiments/FunWithAsyncAwait/bin/Debug
/Experiments/FunWithAsyncAwait/obj/Debug
/Experiments/FunWithObservableCollection1/bin/Debug
/Experiments/FunWithObservableCollection1/obj
/Experiments/NullOperatorOrForeach/bin/Debug
/Experiments/NullOperatorOrForeach/obj/Debug
/Experiments/SortedList/bin/Debug
/Experiments/SortedList/obj
/Experiments/TimerBoxControl/bin/Debug
/Experiments/TimerBoxControl/obj
/Experiments/TimerBoxControlTest/bin/Debug
/Experiments/TimerBoxControlTest/obj
/Experiments/TimerExample/bin/Debug
/Experiments/TimerExample/obj
/Experiments/TimerStateObject/bin/Debug
/Experiments/TimerStateObject/obj/Debug
/Experiments/TimerTest/bin/Debug
/Experiments/TimerTest/obj
/Experiments/TimerTextBox/bin/Debug
/Experiments/TimerTextBox/obj
/Experiments/WpfApp1/bin/Debug
/Experiments/WpfApp1/obj
/FunWithLinqProject/bin/Debug
/FunWithLinqProject/obj
/Main Project/CycleBellConsolApp/bin/Debug
/Main Project/CycleBellConsolApp/obj
/Main Project/CycleBellLibrary/bin/Debug
/Main Project/CycleBellLibrary/obj
/packages
/Tests/CycleBellLibraryTests/bin/Debug
/Tests/CycleBellLibraryTests/obj
/Tests/packages
/TimeSpanLogical/bin/Debug
/TimeSpanLogical/obj
/Experiments/FunWithLinqProject/bin/Debug
/Experiments/FunWithLinqProject/obj/Debug
/Experiments/Timer/obj
/Experiments/TimeSpanLogical/bin/Debug
/Experiments/TimeSpanLogical/obj/Debug
/Experiments/WpfControlTemplates/obj/Debug
/ReadStartEleme/bin/Debug
/ReadStartEleme/obj/Debug
/TimerCycleDictionarySerialization/bin/Debug
/TimerCycleDictionarySerialization/obj/Debug
/CycleBellLibrary.NUnitTests/bin/Debug
/CycleBellLibrary.NUnitTests/obj/Debug
/CycleBell.ViewModels.NUnitTests/obj/Debug
/Build
/Code/.vs
/Code/Main Project/CycleBellConsolApp/obj
/Code/Main Project/CycleBellLibrary/obj
/Code/packages
/Tests/CycleBell.ViewModels.NUnitTests/bin
/Tests/CycleBell.ViewModels.NUnitTests/obj
/Tests/CycleBellLibrary.NUnitTests/bin
/Tests/CycleBellLibrary.NUnitTests/obj

/Tests/CycleBell.NUnitTests/bin/Debug
/Tests/CycleBell.NUnitTests/obj
/Documents/Model
/Experiments/WpfElementsDesign/bin/Debug
/Experiments/WpfElementsDesign/obj/Debug
/Experiments/WpfElementsDesign/bin/Release
/Experiments/SortedList/bin/Release
/Experiments/WpfApp1/bin/Release
/Experiments/WpfElementsDesign/obj/Release
/Tests/CycleBell.NUnitTests/bin/Release
Documents/
Code/*.htm
/tests/CycleBell.Tests/obj
/tests/CycleBell.Tests/bin/Debug
/tests/CycleBell.Engine.Tests/obj
/src/CycleBell.Engine/obj
/setup/CycleBellApplication/Debug
/setup/CycleBellApplication/Release
/setup/CycleBell.Setup/Debug
/setup/CycleBell.Setup/Release
/src/CycleBell.Engine/bin/Debug
/tests/CycleBell.Engine.Tests/bin/Debug
/tests/_CycleBell.Tests
/src/CycleBell.Engine/bin/Release
/tests/CycleBell.Engine.Tests/bin/Release
/tests/CycleBell.Tests/bin/Release
